.client-container {
  background: url("../../assets/photo-1525184648845-66cbe3b6c59c.jpg");
  height: 800px;
  background-position: center;
  background-size: 100% 100%;

  background-position: right bottom;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  .head {
    padding-top: 300px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    color: #222;
  }

  .head h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    margin: 0;
    letter-spacing: 4px;
    // border-right: 2px solid #111;
  }

  .head p {
    padding-left: 30px;
    font-size: 20px;
  }
}